<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Manifests>
    <Manifest>Microsoft.LightSwitch.Base.Client.Manifest.xml</Manifest>
    <Manifest>Microsoft.LightSwitch.Client.Internal.Manifest.xml</Manifest>
  </Manifests>
  <SubsystemPackages>
    <SubsystemPackage>ModelLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeExtensionLoader</SubsystemPackage>
    <SubsystemPackage>PresentationRuntimeLoader</SubsystemPackage>
    <SubsystemPackage>ReportingLoader</SubsystemPackage>
    <SubsystemPackage>RulesLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeServicesLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeShellLoader</SubsystemPackage>
    <SubsystemPackage>ThemingRuntimeLoader</SubsystemPackage>
    <SubsystemPackage>UtilitiesLoader</SubsystemPackage>
    <SubsystemPackage>BaseServicesLoader</SubsystemPackage>
    <SubsystemPackage>DiagnosticsLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeUserCodeLoader</SubsystemPackage>
  </SubsystemPackages>
  <UserCodeAssemblies></UserCodeAssemblies>
  <ExtensionAssemblies>
    <ExtensionAssembly>Microsoft.LightSwitch.Extensions.Client, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.Xpf.Printing.v11.1.Core, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.Printing.v11.1.Core, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.Data.v11.1, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.Xpf.Core.v11.1, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.Xpf.Docking.v11.1, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.Xpf.Layout.v11.1.Core, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.Xpf.Printing.v11.1, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.XtraReports.v11.1.LightSwitch.Common, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
    <ExtensionAssembly>DevExpress.XtraReports.v11.1.LightSwitch.Client, Version=11.1.8.5, Culture=neutral, PublicKeyToken=B88D1754D700E49A</ExtensionAssembly>
  </ExtensionAssemblies>
</Configuration>